<?xml version="1.0"?>

<config>
    <modules>
        <Weber_Best>
            <version>1.0.0</version>
        </Weber_Best>
    </modules>
    <global>
        <resources>
            <weber_best_setup>
                <setup>
                    <module>Weber_Best</module>
                    <class>Weber_Best_Model_Resource_Setup</class>
                </setup>
            </weber_best_setup>
        </resources>
        <blocks>
            <weber_best>
                <class>Weber_Best_Block</class>
            </weber_best>
        </blocks>
        <helpers>
            <weber_best>
                <class>Weber_Best_Helper</class>
            </weber_best>
        </helpers>
        <models>
            <weber_best>
                <class>Weber_Best_Model</class>
                <resourceModel>weber_best_resource</resourceModel>
            </weber_best>
            <weber_best_resource>
                <class>Weber_Best_Model_Resource</class>
                <entities>
                    <best>
                        <table>weber_best_best</table>
                    </best>
                </entities>
            </weber_best_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <weber_best>
                    <file>weber_best.xml</file>
                </weber_best>
            </updates>
        </layout>
        <translate>
            <modules>
                <Weber_Best>
                    <files>
                        <default>Weber_Best.csv</default>
                    </files>
                </Weber_Best>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Weber_Best before="Mage_Adminhtml">Weber_Best_Adminhtml</Weber_Best>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
